{{- define "main" -}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="page-title">
    <div class="title-title"><h2 >{{ .Title | markdownify }}</h2></div>
    {{ .Content }}
<script src="https://utteranc.es/client.js" repo="aosjmi/aosjmi.github.io" issue-term="title" label="Comment" theme="boxy-light" crossorigin="anonymous" async></script>
<div class="left">
    <div class="title-border">
      <a href="https://twitter.com/aosjmi" target="_blank" rel="noopener noreferrer"><img class="brand-twitter" src="https://i.gyazo.com/9e76f1323395d28a021a8021ec246714.png" alt="twitter" width="512"/></a>
      <a href="https://github.com/aosjmi" target="_blank" rel="noopener noreferrer"><img class="brand-twitter" src="https://i.gyazo.com/663a93c91fceeac6f28d9c6f3890cada.png" alt="github" width="496"/></a>
      <a href="https://youtube.com/@aosjmi" target="_blank" rel="noopener noreferrer"><img class="brand-twitter" src="https://i.gyazo.com/983d905cfe340f7ad9c9878c7039de85.png" alt="youtube" width="576"/></a>
      <a href="https://aosjmi.itch.io/" target="_blank" rel="noopener noreferrer"><img class="brand-twitter" src="https://i.gyazo.com/992e192f806b225573878c7fbae526c9.png" alt="Image from Gyazo" width="640"/></a>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
    $('ul, ol').each(function(){
        // Get the parents of a particular ul or ol
        var parentLists = $(this).parents('ul, ol');
        // Apply css to only the odd level ul
        if(parentLists.length % 2 == 0){
          $(this).css({
            'background-image': 'linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%), linear-gradient(to bottom,#f0f0f0  0%, #f0f0f0  100%)',
            'background-clip': 'content-box, padding-box'
            });
        }else{
          $(this).css({
            'background-image': 'linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%), linear-gradient(to bottom,#fafafa  0%, #fafafa  100%)',
            'background-clip': 'content-box, padding-box',
            });
        }
    });
});
</script>


{{- end -}}