<nav class="custom-navbar">
  {{ $homepage := "ゲ制未満" }}
  <div class="container">
    <div class="right">
      <div class="title-border">
        <a href="https://twitter.com/aosjmi" target="_blank" rel="noopener noreferrer"><img class="brand-twitter" src="https://i.gyazo.com/9e76f1323395d28a021a8021ec246714.png" alt="twitter" width="512"/></a>
        <a href="https://github.com/aosjmi" target="_blank" rel="noopener noreferrer"><img class="brand-twitter" src="https://i.gyazo.com/663a93c91fceeac6f28d9c6f3890cada.png" alt="github" width="496"/></a>
        <a href="https://youtube.com/@aosjmi" target="_blank" rel="noopener noreferrer"><img class="brand-twitter" src="https://i.gyazo.com/983d905cfe340f7ad9c9878c7039de85.png" alt="youtube" width="576"/></a>
        <a href="https://aosjmi.itch.io/" target="_blank" rel="noopener noreferrer"><img class="brand-twitter" src="https://i.gyazo.com/992e192f806b225573878c7fbae526c9.png" alt="Image from Gyazo" width="640"/></a>
        <h1><a href="https://aosjmi.github.io/">{{ $homepage }}</a></h1>
      </div>
    </div>
    {{ range .Site.Menus.nav }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
  </div>

</nav>